# Python virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Environment variables / secrets
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.egg-info/

.qdrant_db/

# Coverage
.coverage
htmlcov/